extends layout

block content
  h1 AppDynamics Controller Connect
  h1 #{title}
  h5 User Details
  p #{results.user_id}
  p #{results.user_pass}
  p #{results.user_email}
  a.btn.btn-default(href='/users/edit/'+query) Edit
  a.btn.btn-danger.delete-user(href='#', data-id=query) Delete
